<div class='container'>
  <h1>Breaking Bad Characters
  </h1>
  <div class="jumbotron">
    <u>
      <h2>Welcome</h2>
    </u>
    <p id="welcomeInfo">Search using the function below and click get character data for a specific character
      or click the all characters button to display all the characters available using the
      Breaking Bad API. You can also leave a review at the bottom.
    </p>
  </div>
  <form>
    <div class="form-group">
      <input type='text' name='character-name' class="form-control" #charactername placeholder='Enter Character Name'>
    </div>
    <div class="flex-parent jc-center">
      <button (click)="getCharacterDetails(charactername.value)" type="submit" class='btn btn-primary'>Get Character
        Details</button>

      <button (click)="getAllDetails()" type="submit" class='btn btn-info'>All
        Characters</button>
    </div>
  </form>

  <div class='row'>
    <div class="card text-white bg-secondary border-dark mb-3" style="width: 25rem;"
      *ngFor="let character of characterData" id="CharacterInfo">
      <img class="card-img-top border-dark" src="{{character.img}}" alt="{{character.name}}">

      <ul class="list-group list-group-flush border-dark">

        <li class="list-group-item bg-dark">
          <h4>{{character.name}} </h4>
        </li>
        <li class="list-group-item bg-dark">
          <p>Portrayed by : {{character.portrayed}} </p>
        </li>
        <li class="list-group-item bg-dark">
          <p>Occupation: {{character.occupation}}</p>
        </li>
        <li class="list-group-item bg-dark">
          <p>Status: {{character.status}}</p>
        </li>
      </ul>
    </div>

  </div>
  <app-reviewlist></app-reviewlist>
  <h1>Github Link</h1>
  <a class="github" href="https://github.com/S00199690/breaking-bad-project"><img class="center"
      src="https://www.flaticon.com/svg/vstatic/svg/25/25231.svg?token=exp=1619907548~hmac=40c33e9adb6c6150d5e60f52c1e10d02">
  </a>
</div>