#CharacterInfo{
    animation-name: cardAnimation;
    animation-duration: 2s;
}

@keyframes cardAnimation{
    from {opacity: 0;}
    to {opacity: 1}
}

.card-img-top{
    height: 30rem;
}

.card{
    border-color: black !important;
    border-style: solid;
    border-width: 2px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 170px;
    margin-top: 5px;
}

.list-group-item
{
    height: 70px;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #1B1212;
    text-shadow: 2px 2px 5px #DAD7D7;
}

#welcomeInfo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}

.container{
    background-color: #436060 !important;
    
}

.flex-parent {
    display: flex;
  }
  
  .jc-center {
    justify-content: center;
  }

  .btn{
    font-size: 20px;
    font-weight: 500;
  }

  .jumbotron{
      margin-top: 20px;
      background-color: #DAD7D7;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    transition: 0.5s;
  }

  .center:hover{
      opacity: 0.5;
  }

  hr{
      color: #778899;
      margin-top: 50px;
    border: 10px groove #778899;
  }

  footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #DCDCDC;
    background-color: #778899 !important;
  }

  .img-wrapper{
    display: inline-block;
    overflow:hidden;
}

.img-wrapper img{
    transition: all .2s ease;
    vertical-align: middle;
}

.img-wrapper img:hover {
    transform:scale(1.25);
    -ms-transform:scale(1.25);
    -moz-transform:scale(1.25); 
    -webkit-transform:scale(1.25);
    -o-transform:scale(1.25);
}

  
